
.user-message {
    color: blue;
}
.aside {
	font-size: 10px;
	left: 20%;
	color: #f3f2f2;
}

body {
  font-family: 'Arial', sans-serif, monospace;
}

#welcome {
	color: #504c49;
	width: 100%;
}

#titleWelcome {
	width: 100%;
}

#input {
	color: blue;
}

#userText {
	background-color: #f3f2f2;
	border:none;
	padding: 10px;
	width:400px;
}

#senButton {
	background-color: #f3f2f2;
	border:none;
	padding: 10px;
	color: blue;
}

#inputForm {
	width: 100%;
}

#smile {
	color: green;
	margin-left:10px;
	width: 40px;
	height: 40px;
	font-size:30px;
}

#meh {
	color: red;
	padding-left:10px;
	width: 40px;
	height: 40px;
	font-size:30px;
	padding-top: 10px;
}

#GridWrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0px;
	grid-auto-rows: minmax(10px, auto);
}

#robotImage {
	grid-column: 1;
	grid-row:1;
}

#robotAnswer {
	grid-column: 2;
	grid-row:1;
	position:relative;
}

#textOnSpeekbubble {
	position: absolute;
	text-align: left;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #6a6662;
}

#sprechblase {
	position: absolute;
	top: 20%;
	left: -20%;
}

#intent {
	color: #adadad;
	position: absolute;
	top:38%;
	font-size: 10px;
	left: -5%;
}

#attention {
	border:solid;
	border-color:#cd6666;
	background-color:#f5e2e2;
	width: 300px;
	margin-top:20px;
	padding: 15px;
}

#fulfillment {
	border:solid;
	border-color:blue;
	width: 300px;
	margin-top:20px;
	padding: 15px;
}

#noDataText {
	margin:0px;
	padding:0px;
}


#chatHistory {
	background-color: #f8f8f8;
}

.bot-message {
    color: #cd6666;
}

.fragment-title {
	margin-top:0px;
}

.download-link {
	border:solid; border-width: 2px;  padding:5px; margin:5px; border-color:blue;"
}

.chat-history-header {
	color:#504c49
}
