<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ADUNIS Chatbot</title>
      <link rel = "stylesheet" type = "text/css" href = "css/style.css" />

  </head>
  <body>

  	<h1>Willkommen beim ADUNIS Chatbot</h1>

    <form action="/" method="POST">

    <label for="userText">Nachricht</label>
    <input type="text" id="userText" name="userText">

    <button type="submit">Senden</button>

    </form>

    <img src="img/robot.gif"><br><br>
    <h2 th:if="${botAnswer}" th:text="'Der Roboter sagt: ' + ${botAnswer}"></h2>
	
  </body>
</html>