<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ADUNIS Chatbot</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div id="welcome">
		<h1 id="titleWelcome" >Willkommen beim ADUNIS Chatbot</h1>
	</div>
  	
	<div id="input">
		<form  id="inputForm" action="/" method="POST">
		    <label for="userText"></label>
		    <input type="text" id="userText" name="userText" placeholder="Frag den Roboter was!">
		    <button id="senButton" type="submit"><i class="fa fa-send"></i></button>
		    <i th:if="${answer?.sentimentScore >= 0.5}" class='fa fa-smile-o' id="smile"></i>
			<i th:if="${answer?.sentimentScore < 0.5}" class='fa fa-meh-o' id="meh" ></i>
	    </form>
	</div>
	
	<div id="attention" th:if="${answer?.userDataFields != null and answer.userDataFields.size() &gt; 0}" >
        <p th:text="${answer.hasAllNecessaryInformation()? 'Download.' : 'Mir fehlen noch Felder:'}"></p>
        <div th:each="entry : ${answer.userDataFields}">
            <span th:text="${entry.key} + ': '"/>
            <span th:text="${#strings.isEmpty(entry.value) ? '?' : entry.value}"/>
         </div>
    </div>
    
    <section id="GridWrapper">
		<div id="robotImage">
			<img id="robby" src="img/robot.gif" width="400" height="400"><br><br>
		</div>
		
		<div id="robotAnswer">
			<img  id="sprechblase" src="img/speechBubble.png" width="400" height="80"><br><br>
			<h3  id="textOnSpeekbubble" th:if="${answer?.answerMessage}" th:text="${answer.answerMessage}"></h3>
	        <p id="intent" th:if="${answer?.intend}" th:text="'Ich habe den Intent ' + ${answer.intend} + ' mit einer Sicherheit von ' + ${answer.intendConfidenceScore} + ' erkannt.'"></p>
		</div>
	</section>

<!--
    <div id="fulfillment" style="background-color: lightgreen; display: inline-block" th:if="${answer?.courseChangeFulfillment != null or answer?.exmatriculationFulfillment != null or answer?.pauseStudyFulfillment != null or answer?.semesterReportFulfillment != null or answer?.studyReportFulfillment != null}"
        <div th:if="${answer.courseChangeFulfillment}" th:insert="fulfillmentFragments/courseChangeFulfillmentFragment.html :: content (fulfillment=${answer.courseChangeFulfillment})"> </div>
        <div th:if="${answer.exmatriculationFulfillment}" th:insert="fulfillmentFragments/exmatriculationFulfillmentFragment.html :: content (fulfillment=${answer.exmatriculationFulfillment})"> </div>
        <div th:if="${answer.pauseStudyFulfillment}" th:insert="fulfillmentFragments/pauseStudyFulfillmentFragment.html :: content (fulfillment=${answer.pauseStudyFulfillment})"> </div>
        <div th:if="${answer.semesterReportFulfillment}" th:insert="fulfillmentFragments/semesterReportFulfillmentFragment.html :: content (fulfillment=${answer.semesterReportFulfillment})"> </div>
        <div th:if="${answer.studyReportFulfillment}" th:insert="fulfillmentFragments/studyReportFulfillmentFragment.html :: content (fulfillment=${answer.studyReportFulfillment})"> </div>
    </div>
    
 -->

    <div id="chatHistory" th:if="${chatHistory}">
        <p><strong>Chatverlauf</strong></p>
        <div th:each="chatMessage : ${chatHistory}">
            <span th:classappend="${chatMessage.userMessage ? 'user-message' : 'bot-message'}">
                <strong><span th:text="${chatMessage.displayTime} + ': '"/></strong>
                <span th:text="${chatMessage.userMessage ? ' (Sie) ' : ' (Roboter) '}"></span>
                <span th:text="${chatMessage.message}"/>
            </span>
        </div>
    </div> 

    <script  th:inline="javascript">

        //see https://stackoverflow.com/questions/56426744/how-to-play-the-output-audio-from-dialogflow-int-array

        function playOutput(byteArray){

            var arrayBuffer = new ArrayBuffer(byteArray.length);
            var bufferView = new Uint8Array(arrayBuffer);
            for (let i = 0; i < byteArray.length; i++) {
                bufferView[i] = byteArray[i];
            }

            let audioContext = new AudioContext();
            let outputSource;
            try {
                if(arrayBuffer.byteLength > 0){
                    console.log(arrayBuffer.byteLength);
                    audioContext.decodeAudioData(arrayBuffer,
                        function(buffer){
                            audioContext.resume();
                            outputSource = audioContext.createBufferSource();
                            outputSource.connect(audioContext.destination);
                            outputSource.buffer = buffer;
                            outputSource.start(0);
                        },
                        function(){
                            console.log(arguments);
                        });
                }
            } catch(e) {
                console.log(e);
            }
        }

        /*<![CDATA[*/

        var audioOutput = /*[[${answer?.outputAudio}]]*/ undefined;
        if (audioOutput) {
            playOutput(audioOutput)
        }
        /*]]>*/

    </script>
	
</body>
</html>