<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ADUNIS Chatbot</title>
      <link rel = "stylesheet" type = "text/css" href = "css/page_style.css" />

  </head>
  <body>

  	<h1>Willkommen beim ADUNIS Chatbot</h1>

    <form action="/" method="POST">

    <label for="userText">Nachricht</label>
    <input type="text" id="userText" name="userText">

    <button type="submit">Senden</button>

        <img src="img/robot.gif"><br><br>

    </form>
	
  </body>
</html>