<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>

<div th:fragment="content (fulfillment)">
    <h3>Anfrage zur Exmatrikulation erfolgreich abgeschlossen</h3>

    <span>Hier findest du das Austrittsformular zum Download. Bitte drucke es aus und bringe es unterschrieben an den Empfang an einen der Standorte (St. Gallen, Buchs oder Rapperswil)</span>
    <button th:text="'Download Austrittsformular.pdf'"></button>



</div>

</body>
</html>