<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>

<div th:fragment="content (fulfillment)">

    <p style="margin-top:0px;">Anfrage erfolgreich abgeschlossen</p>

    <button style="border:solid; border-width: 2px;  padding:5px; margin:5px; border-color:blue; th:text="'Download ' + ${fulfillment.reportSemester} + '-' + ${fulfillment.semester} + '-' + ${fulfillment.year} + '.pdf'"></button>
</div>

</body>
</html>