<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
</head>
<body>

<div th:fragment="content (fulfillment)">
    <p class="fragment-title">Anfrage erfolgreich abgeschlossen</p>
    <button class="download-link" th:text="'Download ' + ${fulfillment.reportSemester} + '-' + ${fulfillment.semester} + '-' + ${fulfillment.year} + '.pdf'"></button>
</div>

</body>
</html>
